[submodule "app/configsets/s3-antivirus-configset/lib/files/s3-antivirus-cli"]
	path = app/configsets/s3-antivirus-configset/lib/files/s3-antivirus-cli
	url = git@github.com:boltopspro/s3-antivirus-cli.git
[submodule "app/files/lambda-function/vendor/s3-antivirus-cli"]
	path = app/files/lambda-function/vendor/s3-antivirus-cli
	url = git@github.com:boltopspro/s3-antivirus-cli.git
